* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica;
  
  margin: 2em 1em;
  line-height: 1.5em;
   text-align: center;
  background-color: #F0F4ff;
  color: #202121;
}

h1 {
  max-width: calc(100% - 5rem);
  line-height: 1.1;
}

h2, p {
}

form {
  background-color: #eee;
  display: grid;
  grid-gap: 1em;
  padding: 1em;
  max-width: 40ch;
}

input {
  border: 1px solid silver;
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
}

form button {
  border: 2px solid ;
  border-radius: .25em;
  cursor: pointer;
  font-size: inherit;
  line-height: 1.4em;
  padding: 0.25em 1em;
  max-width: 20ch;
  font-family: Helvetica;
  margin: auto;
}

form button:hover {
  background-color: lavender;
}

footer {
  margin-top: 3em;
  padding-top: 1.5em;
}

.float-container {
  margin: auto;
    padding: 20px;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
    margin: auto;
}  

button {
  background-color: lavender;
  border-radius: 5px;
  padding: 5px 5px 0px 5px;
  margin: 20px;
  font-family: Helvetica;
}

div {
  text-align: center;
}
