<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="An Enhanced Class Questions App and Interactive Video Notes">

    <title>How to Build a Yurt</title>

    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">

    <!-- import the webpage's client-side javascript file -->
    <script src="/script.js" defer></script>
  </head>
  <body>
    <header>
      <h1>How to Build a Yurt</h1>
      <h2>An Enhanced Class Questions App and Interactive Video Notes</h2>
    </header>

    <main>
      <div class="float-container">
        <div>
          <a href="/index.html">Back to Home</a>
        </div>
        <div class="float-child">
          <div class="green">
            <iframe
              width="560"
              height="315"
              id = "myvideo"
              src="https://www.youtube.com/embed/QKODWsvdaD0?enablejsapi=1"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
        
            <ul id="questions">
              <em>loading questions&hellip;</em>
            </ul>
          </div>
        </div>
  
        <div class="float-child">
          <div class="blue">
            <form id = "questionForm">
              <label>
                Timestamp:
                <input
                  id = "timestamp"
                  name="timestamp"
                  type="text"
                  maxlength="100"
                  required
                  placeholder="00:00" 
                />
              </label>

              <label>
                Enter Note or Question:
                <input
                  id = "question"
                  name="Question"
                  type="text"
                  maxlength="100"
                  required
                  placeholder="Note/Question"
                />
              </label>
              <button type="submit" id="submit-questions">Add Note/Question</button>
            </form>
            
            <form id = "answerForm">
              <label>
                Timestamp:
                <input
                  id = "timestamp"
                  name="timestamp"
                  type="text"
                  maxlength="100"
                  required
                  placeholder="00:00" 
                />
              </label>
              <label>
                Enter Response:
                <input
                  id = "response"
                  name="response"
                  type="text"
                  maxlength="100"
                  required
                  placeholder="Answer" 
                />
              </label>
              <button type="submit" id="submit-answer">Add Response</button>
            </form>    
            
          </div>
        </div>
      </div>
    </main>
    <footer></footer>   
  </body>
</html>
